body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
}
h3 {
    font-family: 'Courier New', Courier, monospace !important;
    border: 1px solid purple;
    color: black;
}
h3:hover {
    background: purple;
    font-size: 25px !important;
    color: #fff;
}
img {
    width: 30vh;
    border: 1px solid cornflowerblue;
}